@import "tailwindcss";

@theme {
  --color-main: oklch(0.99 0.01 95);
  --color-primary-50: oklch(100 0 180);
  --color-primary-400: oklch(0 0 0);

  --color-gray-50: #dedede;
  --color-gray-100: #afafaf;
  --color-gray-200: #7b7b7b;
  --color-gray-300: #444444;
  --color-gray-400: #171717;

  --color-granate-50: #e3001f;
  --color-granate-100: #b4001e;
  --color-granate-200: #74040d;
  --color-granate-300: #450208;

  --color-green-50: #add35a;
  --color-green-100: #90ac53;
  --color-green-200: #677a3d;
  --color-green-300: #3f501b;
}

@font-face {
  font-family: 'Terminus';
  src: url('/fonts/terminus/Terminus.woff2') format('woff2'),
    url('/fonts/terminus/Terminus.woff') format('woff');
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

html {
  color-scheme: light;
  background-color: var(--color-gray-300);
}

body {
  font-family: 'Terminus', ui-monospace, SFMono-Regular, Menlo, Consolas, monospace;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  color: whitesmoke;
}

@media (prefers-reduced-motion: reduce) {

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

section {

  h2 {
    font-size: 24px;
    letter-spacing: -0.05em;
    text-align: center;
    font-weight: 500;
  }

  h3 {
    font-size: 20px;
    letter-spacing: -0.05em;
  }

  p {
    font-size: 16px;
    hyphens: auto;
  }

}